body {
    background: #fff;
}
th {
    background-color: #3b81f2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 60px;
}

td {
    border-bottom: 1px solid #d9dddf;
    color: black;
    padding: 10px;
    text-align: center;
    height: 35px;

}
.flex-container>div {
    justify-content: center; /* จัดข้อความตรงกลางทางนอน */
  align-items: center;
    background-color: #f1f1f1;
    width: 250px;
    height:160px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-top: 15px;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
}

input {
    width: 250px;
    height: 40px;
    border-radius: 18px;
    padding: 15px;
    font-size: 20px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 0;
}

.container {
    display: block;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.rwd-table {
    min-width: 10px;
    width: 100%;
    display: block;
    border-top-right-radius: 20px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: center;
}

#prev {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 25px 25px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #3b81f2;
}

#next {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 25px 25px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #3b81f2;
}

.bar {
    border-collapse: collapse;
    background-color: #3b81f2;
    min-width: 10px;
    width: 95%;
    height: 45px;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.buttons{
    margin-right: 10px;
}

.buttons button {
    border: none;
    background-color: #3b81f2;
    color: white;
    text-align: center;
    font-size: 17px;
    margin-top: 13px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.buttons button:focus {
    background-color: #f1f1f1;
    border-radius: 5px;
    color: black;

}

.navbar.navbar-light.bg-light {
    background-color: white !important;

    border: none;
}
.navbar-brand{
    background-color: #3b81f2 !important;
    padding: 60px 40px;
}

div.card-footer{
    background-color: #3b81f2 !important;
    padding: 8px 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.p.small.text-muted{
    color: #3b81f2;
}

.modal-confirm {
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}
.modal-confirm .icon-box {
	color: #fff;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

/* ----------------------------------------------------------------------- */

.head{
    margin-top: 60px;
}

.modal-content{
    justify-content: center;
    min-width: 800px;
    height: 615px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-header{
    background-color: #3b81f2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
#modal-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.modal-title{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
#modal-content{
     /* background-color: #3b81f2; */

    border-radius: 15px;

}
/* #btn-color{
    color: #ffffff
} */

.btn-close{
    color: #ffffff;
}

.modal-body {
    font-size: 20px; /* กำหนดขนาดตัวอักษรสำหรับเนื้อหาใน modal-body เป็น 16px */
}

/* หรือคุณสามารถกำหนดเฉพาะส่วนของตัวอักษรที่ต้องการ */
.modal-body h2 {
    background-color: #3b81f2;
    border-radius: 20px;
    max-width: 180px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center; /* Align text vertically */
    justify-content: center; /* Align text horizontally */
}




/* หรือถ้าคุณต้องการให้ขนาดตัวอักษรของบางส่วนเป็นพิเศษ */
.modal-body tr {
    padding: 50px;
    font-size: 18px; /* กำหนดขนาดตัวอักษรสำหรับ tr เป็น 18px */
}

.custom-icon:hover .fas {
    color: #333; /* เปลี่ยนสีไอคอนเป็นเทาเข้มเมื่อเมาส์ชี้ไปที่นั้น */
  }

#modal-header {
    background-color: #3b81f2;
    color: white;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    font-weight: bold;
    font-size: 20px;
}
#text{
    width: 200px;
    font-weight: bold;
    font-size: 16px;
    text-align: i;
}


.modal-body {
    padding: 20px;
}

.details-section {
    margin-bottom: 30px;
}

.details-section h2 {
    justify-self: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.details-section ul {
    list-style-type: none;
    padding: 0;
}

.details-section ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

/* Style for room description list */
.details-section ul ul {
    margin-top: 5px;
    font-size: 16px;

    margin-left: 20px;
}

/* Style for room type */
.details-section ul li.room-type {
    font-weight: bold;
}

.details-section li {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #666;
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 10px;
}

.value {
    display: inline-block;
    flex: 1;
}
/* Add more styles as needed */
